body {
    width: 320px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

.header {
    background-color: white;
    color: #2c3e50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    margin: 0;
    font-size: 18px;
}

.icon-btn {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    padding: 0 5px;
}

.codes-list {
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

/* .code-item {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
} */

.code-item {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.account-name {
    font-size: 12px;
    color: #777;
    margin-bottom: 4px;
    display: block;
}

.code-display {
    cursor:pointer;
    font-size: 24px;
    font-family: poppins;
    font-weight: bold;
    color: #2c3e50;
    letter-spacing: 2px;
}

.delete-btn {
    color: #e74c3c;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

.add-form {
    padding: 15px;
    background: #fff;
    border-top: 1px solid #eee;
}

.add-form.hidden {
    display: none;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
}

button.secondary {
    background-color: #95a5a6;
}

.empty-state {
    text-align: center;
    color: #999;
    margin-top: 20px;
}